<script type="text/x-handlebars">
  <div >
    {{#collection contentBinding="App.sentenceController"}}
    {{view App.SentenceView sentence=content}}
    {{/collection}}
  </div>

  <div id=commas_container>
    <label for=extra_commas>Extra commas</label>
    {{view App.ExtraCommasView class="box"}}
    <p>Hint: Drag comma box to the sentences above</p>
  </div>
</script>
