<div class=container>
  <label>Example 1</label>
  <p>The caltrain, broke down so I was late for work.</p>
</div>

<div>
  <label>Example 2</label>
  <p>I love to eat, bread, cheese, and eggs every morning.</p>
</div>
